### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Flutter build directory
/build/

# Dart tool-related files
/.dart_tool/

# Flutter plugins and dependencies
/.flutter-plugins
/.flutter-plugins-dependencies

# Miscellaneous files
.last_build_id
